@use 'variables.scss' as v;

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.n-loading-bar-container .n-loading-bar.n-loading-bar--starting {
  background-color: #1e40af;
}
.n-loading-bar-container .n-loading-bar.n-loading-bar--finishing {
  background-color: #1e40af;
}
.n-loading-bar-container .n-loading-bar.n-loading-bar--error {
  background-color: rgb(77, 77, 77);
}
