/* 路由标签组 */
.routes-move {
  transition: transform 0.5s ease;
}

.tabs-leave-active,
.tabs-enter-active {
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

.tabs-enter-from,
.tabs-leave-to {
  max-height: 0;
  opacity: 0;
}

.tabs-enter-to,
.tabs-leave-from {
  max-height: 44px; /* 要大于元素实际高度 */
  opacity: 1;
}

@layer base {
  div {
    transition:
      height 300ms ease-in-out,
      transform 300ms ease-in-out,
      top 300ms ease-in-out,
      left 300ms ease-in-out;
  }
}
